<mat-accordion *ngFor="let t of transactions">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Transaction Type: {{ t.type }}
            </mat-panel-title>
            <mat-panel-description>
                Amount: {{ t.amount }} 
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Transaction ID: {{ t.id }}<br>
        Date: {{ t.effectiveDate }}</p><br>
    </mat-expansion-panel>
</mat-accordion>